body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 60px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
    text-align: center;
    margin-top: 20px;
}

.columns {
    display: flex;
    gap: 20px;
    height: 100%;
}

.left-column, .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.language-select-container {
    display: flex;
    gap: 10px;
    width: 100%;
}

.textarea-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

textarea {
    width: 95%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    flex-grow: 1;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.left-select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

button {
    width: 10%;
    background-color: #92d4ff;
    color: #000000;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6a9be4;
}

.translated-text {
    flex-grow: 1;
    padding: 15px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
    overflow-y: auto;
    margin-top: 10px;
}

.top-bar {
    width: 100%;
    background-color: #79aea7;
    color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 50px;
}

.top-bar-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.profile-icon {
    margin-right: 40px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.profile-icon i {
    font-size: inherit;
}

/* История переводов */
#history {
    margin-top: 20px;
}

#history h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

#historyList {
    list-style-type: none;
    padding: 0;
}

#historyList li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}