body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.columns {
    display: flex;
    gap: 100px;
    height: 100%;
}

.left-column, .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.language-select-container {
    display: flex;
    gap: 10px;
    width: 100%;
}

.textarea-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

textarea {
    width: 95%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    flex-grow: 1;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.left-select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

button {
    width: 10%;
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c82333;
}

.translated-text {
    flex-grow: 1;
    padding: 15px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
    overflow-y: auto;
    margin-top: 10px;
}